:root {
  --black: 0;
  --black-perc: 0%;
  --red: 0, 93%, 32%;
  --squarre-h: 50px;
  --purple: 275, 99%, 58%;
  --blue: 202, 74%, 49%;
  --yellow: 46, 99%, 50%;
  --home-white: 0, 0%, 100%;
  --green-page: 102, 37%, 80%;
  --grey-header: 105, 5%, 85%;
  --grey-id-title: 223, 21%, 74%;
  --nav-color: 24, 82%, 91%;
  --ban-color: 201, 84%, 60%;
  --section-color: 58, 98%, 65%;
  --article-color: 24, 84%, 74%;
  --aside-color: 89, 58%, 56%;
  --footer-color: 126, 38%, 50%;
  --tweet-color: 209, 61%, 76%;
  --pictures-color: 41, 93%, 62%;
  --friends-color: 120, 3%, 65%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*------------------ Test : css ------------------------ */
/* p {
  border: 1px solid hsl(var(--black), var(--black-perc), var(--black-perc));
} */
/*--------------------- test : flex---------------------- */

.container {
  width: 500px;
  height: 500px;
  padding: 5px;
}
.box-h {
  height: var(--squarre-h);
}
.red {
  background-color: hsl(var(--red));
}
.content-purple {
  display: flex;
  justify-content: space-between;
}
.purple {
  background-color: hsl(var(--purple));
  width: 10%;
}
.content-blue {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.blue {
  background-color: hsl(var(--blue));
  width: 10%;
}
.content-yellow {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.yellow {
  background-color: hsl(var(--yellow));
  width: 80%;
}

/* -----------------test home------------------------ */
body {
  background: hsl(var(--home-white));
  height: 100vh;
  padding: 10px;
}
#bloc_page {
  padding: 10px;
  height: 100%;
  background: hsl(var(--green-page));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header {
  padding: 5px;
  background: hsl(var(--grey-header));
  height: 20%;
  display: flex;
  /* flex-direction: column;
  justify-content: space-around; */
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
#titre_principal {
  background: hsl(var(--grey-id-title));
  /* height: 45%; */
  height: 85%;
  width: 20%;
}
nav {
  background: hsl(var(--nav-color));
  height: 45%;
  width: 60%;
}
#banniere_image {
  background-color: hsl(var(--ban-color));
  /* height: 5%; */
  height: 10%;
}
section {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  height: 40%;
  background: hsl(var(--section-color));
}
article {
  /* height: 80%; */
  height: 100%;
  width: 70%;
  background: hsl(var(--article-color));
}
aside {
  /* height: 15%; */
  height: 80%;
  width: 25%;
  background: hsl(var(--aside-color));
}

footer {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  height: 25%;
  background: hsl(var(--footer-color));
}
#tweet {
  width: 35%;
  /* height: 30%; */
  height: 80%;
  background: hsl(var(--tweet-color));
}
#mes_photos {
  width: 25%;
  /* height: 30%; */
  height: 80%;
  background: hsl(var(--pictures-color));
}
#mes_amis {
  width: 30%;
  /* height: 30%; */
  height: 80%;
  background: hsl(var(--friends-color));
}
